* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0px 24px;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  a {
    color: rgb(156, 12, 29);
    text-decoration: none;
  }

  footer {
    background-color: rgb(141, 164, 28);
  }

  nav {
    background-color: bisque;
  }

  h1 {
    color: rgb(55, 55, 114);
  }

  img:hover {
    box-shadow: 2px 4px 5px 2px rgba(0,0,0,.6);
    transition: box-shadow 3s;
    padding: 5px 5px;
}
